<div class="container mx-auto flex mt-10">
  <div class="w-full">
    <div class="flex justify-between items-center mb-4">
      <a [routerLink]="['/app']"
        class="flex text-black backdrop-blur-md bg-white/30 font-bold text-xl w-32 rounded-lg hover:bg-black hover:text-white">
        <img src="../../../../../assets/back.svg" class="w-10" alt="">
        <span class="self-center">Go Back</span>
      </a>
      <h1 class="text-4xl font-bold mb-4 text-white">{{ store?.name | uppercase }}</h1>
      <a [routerLink]="['item/create-item']"
        class="flex items-center rounded-lg h-10 bg-blue-600 text-white font-bold px-4 hover:bg-blue-800">Create new
        Item</a>
    </div>
    <div class="my-4">
      <h3 class="text-white text-xl font-bold">Items of Store:</h3>
    </div>
    <div *ngIf="store!.items.length === 0" class="backdrop-blur-sm bg-white/30 rounded-lg p-4 w-1/2">
      <p class="text-white text-xl font-bold">You do not have any items in this store, please <a [routerLink]="['item/create-item']" class="underline text-blue-900">create a new item</a></p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <div *ngFor="let item of store?.items"
        class="max-w-sm p-6 border rounded-lg backdrop-blur-sm bg-black/50 border-gray-800 hover:shadow-md hover:shadow-black transition ease-out">
        <div class="flex justify-between">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white truncate">{{ item.name | uppercase }}</h5>
          <img src="../../../../../assets/item.svg" class="h-12" alt="store-image">
        </div>
        <div class="flex justify-center text-white font-semibold my-3">
          <p>
            {{ item.price | currency }}
          </p>
        </div>
        <div class="flex justify-center gap-4">
          <a [routerLink]="['item', item?.name]"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none bg-blue-600 focus:ring-blue-800">
            Update Item
          </a>
          <button (click)="deleteItemByName(item.name)"
            class="rounded-lg bg-red-600 text-white px-2 text-sm focus:ring-red-800 focus:ring-4 hover:bg-red-800">Delete
            Item</button>
        </div>
      </div>
    </div>
  </div>
</div>
