<nav class="backdrop-blur-sm bg-white/30">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a [routerLink]="['/app']">
      <div class="flex items-center">
        <img src="../../../../../assets/logo-store.svg" class="h-8 mr-3" alt="Logo" />
        <span class="self-center text-2xl font-semibold text-white whitespace-nowrap">DT store</span>
      </div>
    </a>
    <div class="flex items-center gap-5 text-white font-bold  transition-all duration-100 ease-linear ">
      <img src="../../../../../assets/search.svg" class="w-5 hover:scale-110" alt="search=">
      <img src="../../../../../assets/message.svg" class="w-5 hover:scale-110" alt="search=">
      <button (click)="logout()" class=" text-black  hover:scale-110 hover:text-red-500">Log out</button>
    </div>
  </div>
</nav>
