<nav class="bg-gradient-to-b from-gray-300 to-gray-800 border-gray-200">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <div class="flex items-center">
      <img src="../../../../../assets/store.png" class="h-8 mr-3" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold text-white whitespace-nowrap">Welcome to your store</span>
    </div>
    <div class="flex items-center text-white font-bold hover:text-red-500 hover:scale-110 transition-all duration-100 ease-linear ">
      <button (click)="logout()">Log out</button>
    </div>
  </div>
</nav>
