<div class="container mx-auto flex mt-10">
  <div class="w-full">
    <div class="flex justify-between items-center mb-4">
      <a [routerLink]="['/app']" class="flex text-white font-bold text-xl w-28 rounded-lg bg-transparent border px-2 hover:bg-blue-600 hover:border-blue-800 transition ease-out">
        <img src="../../../../../assets/back.png" class="h-10" alt="">
        <span class="self-center">Back</span>
      </a>
      <h1 class="text-4xl font-bold mb-4 text-white">{{ store.name }}!</h1>
      <a [routerLink]="['create-store']"
        class="flex items-center rounded-lg h-10 bg-blue-600 text-white font-bold px-4 hover:bg-blue-800">Create new
        Article</a>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <div *ngFor="let item of store.items"
        class="max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:scale-105 transition ease-out">
        <div class="flex justify-between border">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white truncate">{{ item.name }}</h5>
          <img src="../../../../../assets/store.png" class="h-20 mx-auto my-4" alt="store-image">
        </div>
        <div class="flex justify-center gap-4">
          <a [routerLink]="['store', store.id]"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none bg-blue-600 focus:ring-blue-800">
            View articles
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
