<div class="container mx-auto flex mt-10">
  <div class="w-full">
   <div class="flex justify-between mb-4">
     <h1 class="text-4xl font-bold mb-4 text-white">Recently viewed</h1>
     <a [routerLink]="['create-store']" class="flex items-center rounded-lg bg-blue-600 text-white font-bold px-4 hover:bg-blue-800">Create new Store</a>
   </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <div
         *ngFor="let store of stores"
        class="max-w-sm p-6 border rounded-lg shadow bg-gray-800 border-gray-700 hover:scale-105 transition ease-out">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-white truncate">{{ store.name }}</h5>
        <img src="../../../../../assets/store.png" class="h-32 mx-auto my-4" alt="store-image">
        <div class="flex justify-center gap-4">
          <a [routerLink]="['store', store.id]"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none bg-blue-600 focus:ring-blue-800">
            View articles
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <button (click)="deleteStore(store.name)" class="rounded-lg bg-red-300 text-white px-2 text-sm focus:ring-red-800 focus:ring-4 hover:bg-red-800">Delete Store</button>
        </div>
      </div>
    </div>
  </div>
</div>
